{# propiedades/templates/registration/password_reset_confirm.html #}
{% extends 'propiedades/base.html' %}
{% block title %}Nueva Contraseña{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-container">
        <h1>Establecer nueva contraseña</h1>
        {% if validlink %}
        <p>Por favor, introduce tu nueva contraseña dos veces para verificar.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar mi contraseña</button>
        </form>
        {% else %}
        <p>El enlace para restablecer la contraseña no era válido, probablemente porque ya se ha utilizado. Por favor, solicita un nuevo restablecimiento de contraseña.</p>
        <a href="{% url 'password_reset' %}" class="btn-dashboard">Solicitar nuevo restablecimiento</a>
        {% endif %}
    </div>
</div>
{% endblock %}
