{# propiedades/templates/registration/password_reset_done.html #}
{% extends 'propiedades/base.html' %}
{% block title %}Email Enviado{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-container" style="text-align: center;">
        <h1>¡Email Enviado!</h1>
        <p>Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Revisa tu bandeja de entrada y spam.</p>
        <p>Si no recibes un correo electrónico en unos minutos, asegúrate de haber introducido la dirección de correo electrónico con la que te registraste.</p>
        <a href="{% url 'login' %}" class="btn-dashboard">Volver al Login</a>
    </div>
</div>
{% endblock %}