{# propiedades/templates/registration/password_reset_form.html #}
{% extends 'propiedades/base.html' %}
{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<div class="main-container">
    <div class="form-container">
        <h1>Restablecer Contraseña</h1>
        <p>¿Olvidaste tu contraseña? Ingresa tu dirección de correo electrónico a continuación y te enviaremos instrucciones para configurar una nueva.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Enviar instrucciones</button>
        </form>
    </div>
</div>
{% endblock %}